* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: escula;
  src: url(fonts/Escuela-ExpandedLight.otf);
}
@font-face {
  font-family: escula_bold;
  src: url(fonts/Escuela-ExpandedSemiBold.otf);
}
.hero-section {
  text-align: center;
  background:
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.548)),
    url("images/hero1.jpg");
  background-size: cover;
  background-position: center;
  height: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.visit-text {
  font-family: escula;
  font-size: 200px;
  color: white;
}
.highlight {
  font-family: escula_bold;
  color: #ffcc00;
}
.visit-para {
  font-family: escula;
  font-size: 20px;
  color: white;
}

.activity-section {
  height: 800px;
  background-color: #fff7f1;
}
.activity-section h2 {
  font-family: escula;
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
}

.cards {
  display: flex;
  justify-content: space-around;
  padding: 50px 50px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 400px;
  background-color: white;
  margin: 20px;
  text-align: center;
  border-radius: 30px;
  padding: 50px 30px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.082);
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
.card-img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  object-fit: cover;
}
.card h3 {
  font-family: escula;
  font-size: 30px;
  margin-top: 20px;
}
.card p {
  text-align: center;
  font-family: arial;
  font-size: 15px;
  margin-top: 10px;
}

#badulla-card {
  background:
    linear-gradient(to bottom, rgba(251, 255, 219, 0.856)),
    url(images/badulla.jpg);
}

#nuwara-eliya-card {
  background:
    linear-gradient(to bottom, rgba(214, 255, 246, 0.815)),
    url(images/nuwara-eliya.jpg);
}

#matara-card {
  background:
    linear-gradient(to bottom, rgba(219, 233, 255, 0.856)),
    url(images/864051223.webp);
}

#anuradhapura-card {
  background:
    linear-gradient(to bottom, rgba(255, 230, 219, 0.856)),
    url(images/anuradhapura.jpg);
}
.card-section {
  padding-top: 1px;
  height: 500px;
  background-color: #fffdfc;

}
.guide-card {
  margin: 100px auto;
  width: 600px;
  height: 240px;
  padding: 30px 50px;
  background-color: rgb(249, 243, 255);
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.082);

}
.my-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.guide-text{
  text-align: center;
}
.guide-text h3 {
  font-family: escula;
  font-size: 30px;
  margin-bottom: 20px;
}
.guide-card p {
  width: 350px;
  font-family: arial;
  font-size: 17px;
  margin-bottom: 20px;
}
.guide-text h4 {
  font-family: escula_bold;
  font-size: 20px;
}